<%- include('../partials/header') %>

<section class="about">
  <h2>About Me</h2>
  <p>
    Hi,
    I'm Diba Makki, a passionate Computer Programming and Analysis student at Seneca Polytechnic. With a background that blends creativity, technical skills, and hands-on experience, I am dedicated to building efficient, user-friendly solutions. My journey in tech has been driven by a love for problem-solving and a desire to bring innovative ideas to life.
    From front-end development to system analysis, my diverse skill set allows me to approach projects with a well-rounded perspective. I am constantly exploring new technologies and refining my abilities to become a leader in the field. Currently, I’m seeking internship opportunities to gain real-world experience and contribute to projects that make a difference.
    Let’s connect and collaborate!
    
    
  </p>
</section>

<%- include('../partials/footer') %>

<!-- <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.0/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/h9rkW6NSNmpZdgns/scene.splinecode"></spline-viewer>--> 

<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.35/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/s0HA-MKSZdcWw3bN/scene.splinecode"></spline-viewer>